<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clerc y Carvajal | Login</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="container">
        <h2>Iniciar Sesión</h2>
        <div class="error" id="error"></div>
        <form id="loginForm">
            <label for="username">Usuario</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>

    <script src="../utils/config.js"></script>
    <script src="../public/services/loginService.js"></script>
    <script src="../public/js/login.js"></script>
</body>

</html>